<opt bin_sample_exec="bin_sample.pl" con_algo="NoMSA" diginorm_max="NA" fwd_linker="GA" fwd_max_shifts="5" fwd_mer_len="11" fwd_primer="GTGCCAGC[AC]GCCGCGGTAA" keep_tmp_files="N" min_con_depth="2" output_root="/proj/dangl_lab/data/mttoolbox_output/MP_141014_UNC20" parallelize="Y" rev_linker="AC" rev_max_shifts="5" rev_mer_len="5" rev_primer="GGACTAC[ACT][ACG]GGGT[AT]TCTAAT" seq_type="1" split_samples_root_dir="">
  <flash_params M="250" f="310" m="30" p="33" r="250" s="20" x="0.25" />
  <qc_params SRC_allow_ambig="N" SRC_allow_gaps="N" SRC_min_avg_qual="0" SRC_min_len="1" SRC_trim_to_base="NA" con_allow_ambig="N" con_min_avg_qual="0" con_min_c_score="0" con_min_len="1" con_trim_to_base="NA" />
  <sample barcode="TGATCCTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_23_TGATCCTA_L001_R1_001.fastq" sample_id="P0" />
  <sample barcode="CAGCGTGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_61_CAGCGTGT_L001_R1_001.fastq" sample_id="P1" />
  <sample barcode="AGCCTTCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_84_AGCCTTCT_L001_R1_001.fastq" sample_id="P2" />
  <sample barcode="GCTGAAGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_15_GCTGAAGA_L001_R1_001.fastq" sample_id="P3" />
  <sample barcode="AACCAGCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_50_AACCAGCT_L001_R1_001.fastq" sample_id="P4" />
  <sample barcode="GGCCTATC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_13_GGCCTATC_L001_R1_001.fastq" sample_id="P5" />
  <sample barcode="CATGGACG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_31_CATGGACG_L001_R1_001.fastq" sample_id="P6" />
  <sample barcode="CGGCAGAA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_60_CGGCAGAA_L001_R1_001.fastq" sample_id="P7" />
  <sample barcode="GCCGACTT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_18_GCCGACTT_L001_R1_001.fastq" sample_id="P8" />
  <sample barcode="CGTTCTAA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_11_CGTTCTAA_L001_R1_001.fastq" sample_id="P9" />
  <sample barcode="CGCTAGTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_42_CGCTAGTA_L001_R1_001.fastq" sample_id="P10" />
  <sample barcode="TGTGAACC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_12_TGTGAACC_L001_R1_001.fastq" sample_id="P11" />
  <sample barcode="GGCGTTAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_93_GGCGTTAC_L001_R1_001.fastq" sample_id="P12" />
  <sample barcode="ACAGGAGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_83_ACAGGAGT_L001_R1_001.fastq" sample_id="P13" />
  <sample barcode="CATGAGGC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_82_CATGAGGC_L001_R1_001.fastq" sample_id="P14" />
  <sample barcode="AGTATGCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_69_AGTATGCA_L001_R1_001.fastq" sample_id="P15" />
  <sample barcode="CGCTGAAT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_29_CGCTGAAT_L001_R1_001.fastq" sample_id="P16" />
  <sample barcode="CGGTGTCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_16_CGGTGTCT_L001_R1_001.fastq" sample_id="P17" />
  <sample barcode="GATGCCTT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_70_GATGCCTT_L001_R1_001.fastq" sample_id="P18" />
  <sample barcode="ATCTGCGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_72_ATCTGCGA_L001_R1_001.fastq" sample_id="P19" />
  <sample barcode="CAATGTCG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_87_CAATGTCG_L001_R1_001.fastq" sample_id="P20" />
  <sample barcode="TGCACAAT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_81_TGCACAAT_L001_R1_001.fastq" sample_id="P21" />
  <sample barcode="AACAGGTG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_73_AACAGGTG_L001_R1_001.fastq" sample_id="P22" />
  <sample barcode="ATTGTGAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_9_ATTGTGAG_L001_R1_001.fastq" sample_id="P23" />
  <sample barcode="TTATAGGC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_89_TTATAGGC_L001_R1_001.fastq" sample_id="P24" />
  <sample barcode="GTGTCCAA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_2_GTGTCCAA_L001_R1_001.fastq" sample_id="P25" />
  <sample barcode="CATCTTAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_32_CATCTTAC_L001_R1_001.fastq" sample_id="P26" />
  <sample barcode="TCCATGCG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_3_TCCATGCG_L001_R1_001.fastq" sample_id="P27" />
  <sample barcode="GTCTCGCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_94_GTCTCGCA_L001_R1_001.fastq" sample_id="P28" />
  <sample barcode="GTCAGCTG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_17_GTCAGCTG_L001_R1_001.fastq" sample_id="P29" />
  <sample barcode="GAGTGCTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_90_GAGTGCTA_L001_R1_001.fastq" sample_id="P30" />
  <sample barcode="TGTCGTCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_10_TGTCGTCA_L001_R1_001.fastq" sample_id="P31" />
  <sample barcode="CTTCGCAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_52_CTTCGCAG_L001_R1_001.fastq" sample_id="P32" />
  <sample barcode="TCTTCGAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_64_TCTTCGAG_L001_R1_001.fastq" sample_id="P33" />
  <sample barcode="ACGTTCAT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_24_ACGTTCAT_L001_R1_001.fastq" sample_id="P34" />
  <sample barcode="CCAACTAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_75_CCAACTAG_L001_R1_001.fastq" sample_id="P35" />
  <sample barcode="ATACGGAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_48_ATACGGAC_L001_R1_001.fastq" sample_id="P36" />
  <sample barcode="ACCATCGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_26_ACCATCGT_L001_R1_001.fastq" sample_id="P37" />
  <sample barcode="CGACCTTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_39_CGACCTTA_L001_R1_001.fastq" sample_id="P38" />
  <sample barcode="CGGCTACA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_53_CGGCTACA_L001_R1_001.fastq" sample_id="P39" />
  <sample barcode="CGAATCCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_57_CGAATCCT_L001_R1_001.fastq" sample_id="P40" />
  <sample barcode="GATGATCG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_34_GATGATCG_L001_R1_001.fastq" sample_id="P41" />
  <sample barcode="ACATTGCG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_63_ACATTGCG_L001_R1_001.fastq" sample_id="P42" />
  <sample barcode="GTGCTACT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_96_GTGCTACT_L001_R1_001.fastq" sample_id="P43" />
  <sample barcode="GTGACATG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_59_GTGACATG_L001_R1_001.fastq" sample_id="P44" />
  <sample barcode="GAGGTTAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_67_GAGGTTAC_L001_R1_001.fastq" sample_id="P45" />
  <sample barcode="TACCATGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_74_TACCATGA_L001_R1_001.fastq" sample_id="P46" />
  <sample barcode="TTCCATAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_80_TTCCATAG_L001_R1_001.fastq" sample_id="P47" />
  <sample barcode="CGTCGGTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_1_CGTCGGTA_L001_R1_001.fastq" sample_id="P48" />
  <sample barcode="GCAACGTC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_65_GCAACGTC_L001_R1_001.fastq" sample_id="P49" />
  <sample barcode="GCGTCACG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_88_GCGTCACG_L001_R1_001.fastq" sample_id="P50" />
  <sample barcode="CTGTAACA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_33_CTGTAACA_L001_R1_001.fastq" sample_id="P51" />
  <sample barcode="ACGTCCTG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_78_ACGTCCTG_L001_R1_001.fastq" sample_id="P52" />
  <sample barcode="CATGAAGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_68_CATGAAGT_L001_R1_001.fastq" sample_id="P53" />
  <sample barcode="ACGTCTTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_91_ACGTCTTA_L001_R1_001.fastq" sample_id="P54" />
  <sample barcode="TGGCTCTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_38_TGGCTCTA_L001_R1_001.fastq" sample_id="P55" />
  <sample barcode="CTCTACAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_54_CTCTACAG_L001_R1_001.fastq" sample_id="P56" />
  <sample barcode="TAGCAGTG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_58_TAGCAGTG_L001_R1_001.fastq" sample_id="P57" />
  <sample barcode="CACCGATT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_30_CACCGATT_L001_R1_001.fastq" sample_id="P58" />
  <sample barcode="AAGGCACG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_27_AAGGCACG_L001_R1_001.fastq" sample_id="P59" />
  <sample barcode="ATGACTCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_44_ATGACTCA_L001_R1_001.fastq" sample_id="P60" />
  <sample barcode="TTAAGCGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_77_TTAAGCGA_L001_R1_001.fastq" sample_id="P61" />
  <sample barcode="GCGAATAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_71_GCGAATAC_L001_R1_001.fastq" sample_id="P62" />
  <sample barcode="ACCTCAGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_56_ACCTCAGA_L001_R1_001.fastq" sample_id="P63" />
  <sample barcode="GGAACGCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_43_GGAACGCT_L001_R1_001.fastq" sample_id="P64" />
  <sample barcode="TCAGGCCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_20_TCAGGCCA_L001_R1_001.fastq" sample_id="P65" />
  <sample barcode="ACGGCTGA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_6_ACGGCTGA_L001_R1_001.fastq" sample_id="P66" />
  <sample barcode="TGGACTCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_8_TGGACTCT_L001_R1_001.fastq" sample_id="P67" />
  <sample barcode="GTCGAAGC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_5_GTCGAAGC_L001_R1_001.fastq" sample_id="P68" />
  <sample barcode="GTACGCGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_46_GTACGCGT_L001_R1_001.fastq" sample_id="P69" />
  <sample barcode="GCAGCTCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_66_GCAGCTCT_L001_R1_001.fastq" sample_id="P70" />
  <sample barcode="CGAGTATC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_86_CGAGTATC_L001_R1_001.fastq" sample_id="P71" />
  <sample barcode="CACTTCTG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_41_CACTTCTG_L001_R1_001.fastq" sample_id="P72" />
  <sample barcode="TCTTGACG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_95_TCTTGACG_L001_R1_001.fastq" sample_id="P73" />
  <sample barcode="CTTACTAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_22_CTTACTAG_L001_R1_001.fastq" sample_id="P74" />
  <sample barcode="TAAGCATG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_36_TAAGCATG_L001_R1_001.fastq" sample_id="P75" />
  <sample barcode="TGACTAGT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_85_TGACTAGT_L001_R1_001.fastq" sample_id="P76" />
  <sample barcode="AGATGGCT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_47_AGATGGCT_L001_R1_001.fastq" sample_id="P77" />
  <sample barcode="CTAAGGAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_19_CTAAGGAG_L001_R1_001.fastq" sample_id="P78" />
  <sample barcode="AGCCGTTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_35_AGCCGTTA_L001_R1_001.fastq" sample_id="P79" />
  <sample barcode="CTATCTGG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_7_CTATCTGG_L001_R1_001.fastq" sample_id="P80" />
  <sample barcode="GGCGCTTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_51_GGCGCTTA_L001_R1_001.fastq" sample_id="P81" />
  <sample barcode="GTGTATGC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_62_GTGTATGC_L001_R1_001.fastq" sample_id="P82" />
  <sample barcode="TACTTGCA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_21_TACTTGCA_L001_R1_001.fastq" sample_id="P83" />
  <sample barcode="GCTAGTTC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_28_GCTAGTTC_L001_R1_001.fastq" sample_id="P84" />
  <sample barcode="AGGTTCGC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_4_AGGTTCGC_L001_R1_001.fastq" sample_id="P85" />
  <sample barcode="GGATATAG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_14_GGATATAG_L001_R1_001.fastq" sample_id="P86" />
  <sample barcode="ATAGTCCG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_76_ATAGTCCG_L001_R1_001.fastq" sample_id="P87" />
  <sample barcode="CAGTAATG" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_79_CAGTAATG_L001_R1_001.fastq" sample_id="P88" />
  <sample barcode="AGTGCCAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_40_AGTGCCAC_L001_R1_001.fastq" sample_id="P89" />
  <sample barcode="TTGTGCAC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_92_TTGTGCAC_L001_R1_001.fastq" sample_id="P90" />
  <sample barcode="GAACGTAT" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_49_GAACGTAT_L001_R1_001.fastq" sample_id="P91" />
  <sample barcode="GTAGGACC" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_45_GTAGGACC_L001_R1_001.fastq" sample_id="P92" />
  <sample barcode="GCTTAATA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_55_GCTTAATA_L001_R1_001.fastq" sample_id="P93" />
  <sample barcode="TGTGCGTA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_37_TGTGCGTA_L001_R1_001.fastq" sample_id="P94" />
  <sample barcode="TCGCACAA" fwd_file="/proj/dangl_lab/data/miseq_runs/MP_141014_UNC20_0210_000000000-AB0UD/SBS3_25_TCGCACAA_L001_R1_001.fastq" sample_id="P95" />
</opt>
